@model Payrol.Models.Salary

    <form method="post" asp-action="Create">
        
        <div class="border p-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h2 class="text-primary">
                    ADD STAFF
                </h2>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>STAFF NAME</strong>
                        </div>
                        <div>:</div>
                        <div class="col-6">
                            <select class="form-control" asp-for="SalaryStaffId" asp-items="@(new SelectList(ViewBag.message,"StaffId","StaffName"))">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>BASIC</strong>
                        </div>
                        <div>:</div>
                        <div class="col-4">
                            <input asp-for="SalaryBasic" class="form-control" />
                            <span asp-validation-for="SalaryBasic" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>TRANSPORT ALLOWANCE</strong>
                        </div>
                        <div>:</div>
                        <div class="col-4">
                            <input asp-for="SalaryTransportAllowance" class="form-control" />
                            <span asp-validation-for="SalaryTransportAllowance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>PERFORMANCE ALLOWANCE</strong>
                        </div>
                        <div>:</div>
                        <div class="col-4">
                            <input asp-for="SalaryPerformanceAllowance" class="form-control" />
                            <span asp-validation-for="SalaryPerformanceAllowance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>OVERTIME</strong>
                        </div>
                        <div>:</div>
                        <div class="col-4">
                            <input asp-for="SalaryOvertime" class="form-control" />
                            <span asp-validation-for="SalaryOvertime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <strong>KWSP</strong>
                        </div>
                        <div>:</div>
                        <div class="col-4">
                            <input asp-for="SalaryKwsp" class="form-control" />
                            <span asp-validation-for="SalaryKwsp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-100" value="Create" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success w-100">Back</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>

    @section Scripts
    {
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }

